extends _layout/_layout

block append vars 
  - title = 'Dashbroad'

block main-content
  .heading-content
    .heading-group
      .heading-group__icon 
        img(src="images/i-6.svg", alt="")
      .heading-group__title 
        h1 VĂN BẢN ĐẾN 
    .breadcrumb
      ul 
        li 
          a(href="") Trang chủ 
        li 
          a(href="") Văn bản đến
  .page-content
    .menu-heading
      ul 
        li 
          .menu-heading__item
            .menu-heading__icon 
              i.fa.fa-plus
            .menu-heading__text Thêm mới
            a(href="").menu-heading__link
        li 
          .menu-heading__item
            .menu-heading__icon 
              i.fa.fa-search
            .menu-heading__text Tìm kiếm
            a(href="").menu-heading__link
        li 
          .menu-heading__item
            .menu-heading__icon 
              i.fa.fa-pencil-alt
            .menu-heading__text Ý kiến LĐ
            a(href="").menu-heading__link
        li 
          .menu-heading__item
            .menu-heading__icon 
              i.fa.fa-print
            .menu-heading__text In
            a(href="").menu-heading__link
        li 
          .menu-heading__item
            .menu-heading__icon 
              i.fa.fa-sign-out-alt
            .menu-heading__text Thống kê VB đến
            a(href="").menu-heading__link
    .row.flex-row.flex-xl-row-reverse
      .col-12.col-sm-60
        .box(data-box)
          .box__tab-list
            ul 
              li 
                a(href="").active Chi tiết văn bản
              li 
                a(href="") Luân chuyển
              li 
                a(href="") Thông tin khác
          .box__tools
            ul 
              li 
                a(href="")
                  span.fa-file-export Góp ý VB 
              li 
                a(href="")
                  span.fa-file-export Kết thúc xử lý
              li 
                a(href="")
                  span.fa-file-export.text-red Quan trọng
              li 
                a(href="")
                  span.fa-file-export.text-red Theo dõi
            .box__menu-more(data-menu-more)
              .box__menu-more--toggle(data-toggle)
                span Khác
              .box__menu-more--dropdown(data-dropdown)
                ul
                  li 
                    a(href="") Edit
                  li 
                    a(href="") Delete
                  li 
                    a(href="") Download 
          .box__content
            p Văn bản <span class="text-blue text-italic">574/STTTT-VP</span> của <span class="text-bold">Sở Thông Tin và Truyền Thông Đồng Nai</span> báo cáo nội dung chuẩn bị họp giao ban công tác quản lý Nhà nước Quý I/2021
            p <span class="text-bold">Người phân công:</span> Văn thư
            p <span class="text-bold">Nội dung công việc:</span> Đỗ Nguyễn Trần PDF
            p(style="padding: 0") <span class="text-bold">Thời hạn xử lý:</span>
            <a href="" class="text-blue text-wrap"><img class="img-sm" src="images/pdf.png"/> VP_Noi_dung_giao_ban_QLNN_Ql_STTTT_ti..._vanthu_26/02/2021_15h28 (1MB)</a>
      .col-12.col-sm-40
        .box.solid
          .box__content
            .table
              table
                thead 
                  tr 
                    th
                    th
                    th Ngày đến
                    th Số...
                    th Trích yếu nội dung
                tbody
                  tr 
                    td
                      input(type="checkbox" class="form-control")
                    td
                      a(href="")
                        img(src="/images/icon.png", alt="") 
                    td <span class="text-red">15/09/2020</span>
                    td <span class="text-red">3</span>
                    td <span class="text-red">Về việc bãi bỏ một ...</span>
                  tr 
                    td
                      input(type="checkbox" class="form-control")
                    td
                      a(href="")
                        img(src="/images/icon.png", alt="") 
                    td <span class="text-blue">12/04/2020</span>
                    td <span class="text-blue">12</span>
                    td <span class="text-blue">Ban hành quy chế ...</span>
                  tr 
                    td
                      input(type="checkbox" class="form-control")
                    td
                      a(href="")
                        img(src="/images/icon.png", alt="") 
                    td <span class="text-red">15/09/2020</span>
                    td <span class="text-red">3</span>
                    td <span class="text-red">Về việc bãi bỏ một ...</span>
                  tr 
                    td
                      input(type="checkbox" class="form-control")
                    td
                      a(href="")
                        img(src="/images/icon.png", alt="") 
                    td <span class="text-blue">12/04/2020</span>
                    td <span class="text-blue">12</span>
                    td <span class="text-blue">Ban hành quy chế ...</span>
                  tr 
                    td
                      input(type="checkbox" class="form-control")
                    td
                      a(href="")
                        img(src="/images/icon.png", alt="") 
                    td <span class="text-red">15/09/2020</span>
                    td <span class="text-red">3</span>
                    td <span class="text-red">Về việc bãi bỏ một ...</span>
                  tr 
                    td
                      input(type="checkbox" class="form-control")
                    td
                      a(href="")
                        img(src="/images/icon.png", alt="") 
                    td <span class="text-blue">12/04/2020</span>
                    td <span class="text-blue">12</span>
                    td <span class="text-blue">Ban hành quy chế ...</span>
                  tr 
                    td
                      input(type="checkbox" class="form-control")
                    td
                      a(href="")
                        img(src="/images/icon.png", alt="") 
                    td <span class="text-blue">15/09/2020</span>
                    td <span class="text-blue">3</span>
                    td <span class="text-blue">Về việc bãi bỏ một ...</span>
                  tr 
                    td
                      input(type="checkbox" class="form-control")
                    td
                      a(href="")
                        img(src="/images/icon.png", alt="") 
                    td <span class="text-red">15/09/2020</span>
                    td <span class="text-red">3</span>
                    td <span class="text-red">Về việc bãi bỏ một ...</span>
        .pagination.right
          ul 
            li 
              a(href="")
                i.fa.fa-angle-double-left
            li 
              a(href="").active
                span 1 
            li 
              a(href="")
                span 2 
            li 
              a(href="")
                span 3 
            li 
              a(href="")
                span 4 
            li 
              a(href="")
                span ...
            li 
              a(href="")
                i.fa.fa-angle-double-right
      