extends _layout/_layout

block main-content
  .heading-content
    .heading-group
      .heading-group__icon 
        img(src="/images/i-6.svg", alt="")
      .heading-group__title 
        h1 VĂN BẢN ĐẾN 
    .breadcrumb
      ul 
        li 
          a(href="") Trang chủ 
        li 
          a(href="") Văn bản đến