footer.footer
  .footer__info Thông tin liên hệ
  .footer__menu
    ul 
      li 
        a(href="") Fanpage 
      li 
        a(href="") Hotline 
      li 
        a(href="") Emai
  .footer__copyright © 2021 QLVB- Tỉnh Đồng Nai. All Rights Reserved
  