header.header(data-header)
  .header__group
    .header__logo 
      a(href="")
        img(src="images/logo.png", alt="")
    .header__slogan QUẢN LÝ VĂN BẢN VÀ CHỈ ĐẠO ĐIỀU HÀNH
  .header__group
    .header__search 
      form(action="" method="post")
        button
          i.fa.fa-search 
        input(type="text" placeholder="Tìm kiếm")
    .header__member(data-member)
      .header__member-toggle(data-member-toggle)
        .header__member-avatar
          .header__member-wrap
            img(src="images/avatar.jpg", alt="")
        .header__member-name <span>Xin chào,</span> <strong>Nguyễn An</strong>
      .header__member-dropdown
        .header__member-menu
          ul 
            li
              a(href="") Thông tin cá nhân
            li
              a(href="") Thoát
