.menu-nav
  ul
    li
      .menu-nav__icon 
        img(src="/images/i-1.svg", alt="")
      .menu-nav__text Quản lý văn bản
      a(href="").menu-nav__link
    li
      .menu-nav__icon 
        img(src="/images/i-2.svg", alt="")
      .menu-nav__text Hồ sơ lưu trữ
      a(href="").menu-nav__link
    li
      .menu-nav__icon 
        img(src="/images/i-3.svg", alt="")
      .menu-nav__text Chỉ đạo điều hành
      a(href="").menu-nav__link
    li
      .menu-nav__icon 
        img(src="/images/i-4.svg", alt="")
      .menu-nav__text Văn bản cá nhân
      a(href="").menu-nav__link