.sidebar(data-sidebar)
  .sidebar__wrapper
    .sidebar__item-menu(data-menu-item)
      .sidebar__item-menu--item
        .sidebar__item-menu--icon
          .sidebar__item-menu--image
            img(src="images/i-5.svg", alt="")
          .sidebar__item-menu--count 0
        .sidebar__item-menu--text Văn bản đến
        a(href="").sidebar__item-menu--link
        .sidebar__item-menu--toggle(data-menu-toggle)
          i.fa.fa-chevron-circle-down
      .sidebar__item-menu--submenu(data-menu-submenu)
        ul
          li
            a(href="") Sub menu 1
          li
            a(href="") Sub menu 1
          li
            a(href="") Sub menu 1
          li
            a(href="") Sub menu 1
    .sidebar__item-menu(data-menu-item)
      .sidebar__item-menu--item
        .sidebar__item-menu--icon
          .sidebar__item-menu--image
            img(src="images/i-5.svg", alt="")
          .sidebar__item-menu--count 0
        .sidebar__item-menu--text Văn bản đi
        a(href="").sidebar__item-menu--link
        .sidebar__item-menu--toggle(data-menu-toggle)
          i.fa.fa-chevron-circle-down
      .sidebar__item-menu--submenu(data-menu-submenu)
        ul
          li
            a(href="") Sub menu 1
          li
            a(href="") Sub menu 1
    .sidebar__item-menu(data-menu-item)
      .sidebar__item-menu--item
        .sidebar__item-menu--icon
          .sidebar__item-menu--image
            img(src="images/i-5.svg", alt="")
          .sidebar__item-menu--count 0
        .sidebar__item-menu--text Văn bản nội bộ
        a(href="").sidebar__item-menu--link
        .sidebar__item-menu--toggle(data-menu-toggle)
          i.fa.fa-chevron-circle-down
      .sidebar__item-menu--submenu(data-menu-submenu)
        ul
          li
            a(href="") Sub menu 1
          li
            a(href="") Sub menu 1
          li
            a(href="") Sub menu 1
    .sidebar__group-menu
      .sidebar__group-menu--item
        a(href="") Loại thư
      .sidebar__group-menu--item
        a(href="") Trình trạng xử lý
      .sidebar__social.social
        ul
          li
            a(href="")
              a.fab.fa-facebook-f
          li
            a(href="")
              a.fab.fa-twitter
          li
            a(href="")
              a.fab.fa-linkedin-in
          li
            a(href="")
              a.fab.fa-google-plus-g
  .sidebar__overlay(data-overlay)
  .sidebar__toggle(data-toggle)
    i.fa.fa-stream
