* {
  outline: none;

  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

p {
  margin: 0;
  padding-bottom: 5px;
}

a{
  color: $color-black-1;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    transition: all .3s linear;
  }
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}


p {
  padding-bottom: 15px;
}

.img {
  &-sm {
    max-width: 20px;
  }
}

.text {
  &-red {
    color: $color-red-1;
  }

  &-blue {
    color: $color-blue-12;
  }
}

.text {
  &-bold {
    font-weight: bold;
  }

  &-italic {
    font-style: italic;
  }
}

.text {
  &-wrap {
    word-break: break-all;
  }
}