.footer {
  font-size: 16px;
  line-height: 24px;
  background-color: $color-blue-9;
  color: $color-white-1;
  padding: 40px 30px;
  text-align: center;

  @include mq(991) {
    padding: 30px 15px;
  }

  @include mq(768) {
    font-size: 14px;
    line-height: 22px;
  }

  &__info {
    margin-bottom: 10px;
  }

  &__menu {
    margin-bottom: 25px;

    @include mq(768) {
      margin-bottom: 10px;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li {
      &:not(:last-child) {
        padding-right: 15px;
        position: relative;

        &:after {
          content: "–";
          position: absolute;
          @extend %prr;
          right: 2px;
        }
      }
    }
    
    a {
      display: block;
      color: $color-white-1;
    }
  }
}