.pagination {
  @include mq(1200) {
    margin-bottom: 30px;
  }

  &.right ul {
    justify-content: flex-end;
  }

  ul {
    display: flex;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    &.active {
      background-color: $color-gray-5;
    }
  }
}