$color-white-1: #ffffff;
$color-white-2: #eef1f5;

$color-gray-1: #666666;
$color-gray-2: #e5e5e5;

$color-black-1: #000000;
$color-black-2: #333333;

$color-blue-1: #334d96;
$color-blue-2: #1c357c;
$color-blue-3: #438afe;
$color-blue-4: #85b3ff;
$color-blue-5: #ecf3ff;
$color-blue-6: #5795fa;
$color-blue-7: #8597ac;
$color-blue-8: #3f567a;
$color-blue-9: #344e98;
$color-blue-10: #f0f6ff;

$color-red-1: #f43737;

$color-shadow-1: rgba(0,0,0,0.08);
$color-shadow-2: rgba(0,0,0,0.28);

$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-linkedin-in: #007bb5;
$color-google: #db4437;
